onepace/__pycache__/__init__.cpython-310.pyc
onepace/__pycache__/cli.cpython-310.pyc
onepace/__pycache__/onepace.cpython-310.pyc
onepace.egg-info/dependency_links.txt
onepace.egg-info/entry_points.txt
onepace.egg-info/PKG-INFO
onepace.egg-info/requires.txt
onepace.egg-info/SOURCES.txt
onepace.egg-info/top_level.txt
